parameters:
	ignoreErrors:
		-
			message: "#^Method Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\Patron\\:\\:placeOnHold\\(\\) should return Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PatronEvent\\\\BookHoldFailed, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PatronEvent\\\\BookPlacedOnHold\\> but returns Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PatronEvent\\\\BookHoldFailed, mixed\\>\\.$#"
			count: 1
			path: src/Lending/Patron/Domain/Patron.php

		-
			message: "#^Method Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\Patron\\:\\:placeOnHold\\(\\) should return Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PatronEvent\\\\BookHoldFailed, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PatronEvent\\\\BookPlacedOnHold\\> but returns Munus\\\\Control\\\\Either\\<mixed, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PatronEvent\\\\BookPlacedOnHold\\>\\.$#"
			count: 1
			path: src/Lending/Patron/Domain/Patron.php

		-
			message: "#^Method Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\OnlyResearcherPatronsCanHoldRestrictedBooks\\:\\:__invoke\\(\\) should return Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Rejection, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Allowance\\> but returns Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Rejection, mixed\\>\\.$#"
			count: 1
			path: src/Lending/Patron/Domain/PlacingOnHoldPolicy/OnlyResearcherPatronsCanHoldRestrictedBooks.php

		-
			message: "#^Method Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\OnlyResearcherPatronsCanHoldRestrictedBooks\\:\\:__invoke\\(\\) should return Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Rejection, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Allowance\\> but returns Munus\\\\Control\\\\Either\\<mixed, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Allowance\\>\\.$#"
			count: 1
			path: src/Lending/Patron/Domain/PlacingOnHoldPolicy/OnlyResearcherPatronsCanHoldRestrictedBooks.php

		-
			message: "#^Method Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\OnlyResearcherPatronsCanPlaceOpenEndedHolds\\:\\:__invoke\\(\\) should return Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Rejection, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Allowance\\> but returns Munus\\\\Control\\\\Either\\\\Left\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Rejection, mixed\\>\\.$#"
			count: 1
			path: src/Lending/Patron/Domain/PlacingOnHoldPolicy/OnlyResearcherPatronsCanPlaceOpenEndedHolds.php

		-
			message: "#^Method Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\OnlyResearcherPatronsCanPlaceOpenEndedHolds\\:\\:__invoke\\(\\) should return Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Rejection, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Allowance\\> but returns Munus\\\\Control\\\\Either\\\\Right\\<mixed, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Allowance\\>\\.$#"
			count: 1
			path: src/Lending/Patron/Domain/PlacingOnHoldPolicy/OnlyResearcherPatronsCanPlaceOpenEndedHolds.php

		-
			message: "#^Method Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\RegularPatronMaximumNumberOfHoldsPolicy\\:\\:__invoke\\(\\) should return Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Rejection, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Allowance\\> but returns Munus\\\\Control\\\\Either\\\\Left\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Rejection, mixed\\>\\.$#"
			count: 1
			path: src/Lending/Patron/Domain/PlacingOnHoldPolicy/RegularPatronMaximumNumberOfHoldsPolicy.php

		-
			message: "#^Method Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\RegularPatronMaximumNumberOfHoldsPolicy\\:\\:__invoke\\(\\) should return Munus\\\\Control\\\\Either\\<Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Rejection, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Allowance\\> but returns Munus\\\\Control\\\\Either\\\\Right\\<mixed, Akondas\\\\Library\\\\Lending\\\\Patron\\\\Domain\\\\PlacingOnHoldPolicy\\\\Allowance\\>\\.$#"
			count: 1
			path: src/Lending/Patron/Domain/PlacingOnHoldPolicy/RegularPatronMaximumNumberOfHoldsPolicy.php
