includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	phpVersion: 80200
	level: max
	paths:
		- src
		- tests
	ignoreErrors:
		-
			message: "#^Method.*should return Munus\\\\Control\\\\Either.*but returns Munus\\\\Control\\\\Either.*mixed.*.$#"
