includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	level: max
	paths:
		- bin
		- config
		- migrations
		- public
		- src
		- tests
	ignoreErrors:
		-
			message: "#^Method.*should return Munus\\\\Control\\\\Either.*but returns Munus\\\\Control\\\\Either.*mixed.*.$#"
